/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2020, 1:51:16 PM
    Author     : Admin
*/
img{
    width:300px;
    height:300px;
    border:5px solid #ff01ac;
}
